<div class="container">
  <div class="search-result-h1">
    <h1>EDIT YOUR SKILLS</h1>
    <p>Select your existing skills & key experiences</p>
  </div>



  <!-- Main body -->

  <div class="lower-search-container">

    <!-- left side -->

    <div class="skill-container">
      <div class="skill-cat-container">
        <button class="cat-btn cat-btn-active" data-value="all">All</button>
        <button class="cat-btn" data-value="hard">HARD SKILLS</button>
        <button class="cat-btn" data-value="soft">SOFT SKILLS</button>
        <button class="cat-btn" data-value="key">KEY EXPERIENCE</button>
      </div>

      <!-- main form start-->

    <%= form_tag("/myprofile/update_user_skills", method: "patch") do  %>

      <!-- hard skills -->

      <div class="skill-card" id="hard">
        <div class="d-flex justify-content-between">
          <h3>HARD SKILLS</h3>
          <i class="fas fa-eraser" id="clear-hard"></i>
        </div>
        <div class="skills-grid">
          <% @hard_skills.each do |skill| %>
              <%= check_box_tag "skill_ids[]", skill.id, nil, id: "skill-item-#{skill.id}", class: 'hidden'%>
              <label for="<%= "skill-item-#{skill.id}" %>" class="skill-grid-item checkbox hard" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
           url('<%= cl_image_path skill.photo, height: 120, width: 120, crop: :fill %>');">
                <div class="section">
                  <p class="show-profile"><%= skill.name %></p>
                  <!-- Popover -->
                    <a class="popover-skill" data-toggle="popover" data-placement="right" title="" data-trigger="hover" data-html="true"
                    data-popover-content="#myPopoverContent<%=skill.id%>"><i class="fas fa-info-circle"></i></a>

                    <!-- Content for Popover: -->
                    <div id="myPopoverContent<%=skill.id%>" style="display:none">
                      <div class="skill-info">
                        <h2><%= skill.name %></h2>
                        <p><%= skill.description %></p>
                      </div>
                    </div>
                  <div class="overlay">
                  </div>
                </div>
              </label>
          <% end %>
        </div>
      </div>


      <!-- soft skills -->

      <div class="skill-card" id="soft">
        <div class="d-flex justify-content-between">
          <h3>SOFT SKILLS</h3>
          <i class="fas fa-eraser" id="clear-soft"></i>
        </div>
        <div class="skills-grid">

          <% @soft_skills.each do |skill| %>
              <%= check_box_tag "skill_ids[]", skill.id, nil, id: "skill-item-#{skill.id}", class: 'hidden'%>
              <label for="<%= "skill-item-#{skill.id}" %>" class="skill-grid-item checkbox soft" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
           url('<%= cl_image_path skill.photo, height: 120, width: 120, crop: :fill %>')">
                <div class="section">
                  <p class="show-profile"><%= skill.name %></p>
                  <!-- Popover -->
                    <a class="popover-skill" data-toggle="popover" data-placement="right" title="" data-trigger="hover" data-html="true"
                    data-popover-content="#myPopoverContent<%=skill.id%>"><i class="fas fa-info-circle"></i></a>

                    <!-- Content for Popover: -->
                    <div id="myPopoverContent<%=skill.id%>" style="display:none">
                      <div class="skill-info">
                        <h2><%= skill.name %></h2>
                        <p><%= skill.description %></p>
                      </div>
                    </div>
                  <div class="overlay">
                  </div>
                </div>
              </label>
          <% end %>
        </div>
      </div>



      <!-- key experiences -->

      <div class="skill-card" id="key">
        <div class="d-flex justify-content-between">
          <h3>KEY EXPERIENCE</h3>
          <i class="fas fa-eraser" id="clear-key"></i>
        </div>
        <div class="skills-grid">

          <% @key_experience.each do |skill| %>
              <%= check_box_tag "skill_ids[]", skill.id, nil, id: "skill-item-#{skill.id}", class: 'hidden'%>
              <label for="<%= "skill-item-#{skill.id}" %>" class="skill-grid-item checkbox key" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
           url('<%= cl_image_path skill.photo, height: 120, width: 120, crop: :fill %>')">
                <div class="section">
                  <p class="show-profile"><%= skill.name %></p>
                  <div class="overlay">
                  </div>
                </div>
              </label>
          <% end %>
        </div>
      </div>

    <!-- right side -->
  </div>
    <div class="job-select-container">
      <div class="vacancies-container">
        <h4>YOUR SKILLS</h4>
          <div class="job-container">
            <p><%= 'Your existing skills' %></p>
            <label class="radio-container">
              <input type="checkbox" name="radio" class="check-box" data-id="<%= current_user.id %>">
              <% current_user.user_skills.each do |skill| %>
                <input type="hidden" class="<%= "job-skills" %> " value="<%= skill.skill_id %>">
              <% end %>
              <span class="checkmark"></span>
            </label>
          </div>

      </div>



      <div class="selection-container">
        <div class="d-flex justify-content-between">
          <h4>SELECTION</h4>
          <i class="fas fa-eraser" id="clear-all"></i>
        </div>
        <div class="d-flex flex-wrap job-name-container">
          <div id="selection-collection"></div>
        </div>
        <!-- <div class="d-flex justify-content-center"> -->
          <%= submit_tag "SAVE", class: 'search-btn' %>
          <% end %>
        <!-- </div> -->
        <!-- main form end -->
      </div>
    </div>
</div>

<!-- hidden array for adding skills -->
<% if @pre_selected %>
  <ul class="hidden">
  <% @pre_selected.each do |skill| %>
    <li value="<%= skill %>" class="hidden-skill"></li>\
  <% end %>
  </ul>
<% end %>
</div>
