<% @matches.each do |user| %>
<div class="container-custom">
  <div class="row">
    <div class="col-12 col-sm-4">
      <div class="employee-detail-all">
        <div class="employee-detail">
          <img src="<%= image_path user.photo %>" class="avatar-big" alt="">
          <div class="employee-contact">
            <h2><%= user.first_name.capitalize %> <%= user.last_name.upcase %></h2>
            <h3><%= user.job_title %></h3>
            <p><%= user.location %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-4">
      <div class="employee-have-skills-all">
        <div class="employee-have-skills">
          <h3>Existing skills</h3>
          <div class="employee-skills">
          <% user.user_skills.select {|user_skill| @skills_to_match.include?(user_skill.skill_id) }.each do |user_skill| %>
            <p class="skill-selection"><%= user_skill.skill.name %></p>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="employee-wish-skills-all">
        <div class="employee-wish-skills">
          <h3>Wish to develop</h3>
          <div class="employee-skills">
          <% user.develop_skills.select {|user_skill| @skills_to_match.include?(user_skill.skill_id) }.each do |user_skill| %>
            <p class="skill-selection"><%= user_skill.skill.name %></p>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
