<div class="container">
    <h3><%= @user.job_title %> </h3>
    <h5><%= @user.department %> </h5>
    <h5><%= @user.location %> </h5>
    <p><%= @user.description %></p>

  <div class="myprofile-container">
    <div id="myprofile-header">
      <h1><%= @user.first_name %></h1>
    <%= cl_image_tag @user.photo %>
    </div>
  </div>

  <!-- Main body -->

  <div class="lower-search-container">

    <!-- left side -->

    <div class="skill-container">

      <!-- business skills -->

      <div class="skill-card" id="business">
        <h3>BUSINESS</h3>
        <div class="skills-grid">

          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>

          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>

          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>

          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>

        </div>
      </div>




      <!-- people skills -->
      <div class="skill-card" id="people">
        <h3>PEOPLE</h3>
        <div class="skills-grid">
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- key experiences -->
      <div class="skill-card" id="key">
        <h3>KEY EXPERIENCES</h3>
        <div class="skills-grid">
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

  </div>

