<div class="container">
<!-- title box -->
  <div class="myprofile-container">
    <%= link_to :back, class: 'link_absolute' do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <div class="d-flex align-items-center">
      <div class="myprofile-image">
        <%= cl_image_tag @user.photo, height: 200, width: 200, crop: :fill %>
      </div>
      <div class="myprofile-name">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      </div>
    </div>
  </div>

<div class="d-flex">
  <div class="left">

  <!-- left side -->

      <!-- description box -->

        <div class="myprofile-info-container">
          <div class="myprofile-info-card">
            <div class="d-flex justify-content-between">
              <h2><%= @user.job_title %></h2>
              <i class="fas fa-edit" id="edit-description"></i>
            </div>
            <div class="info-employee">
              <ul class="info-employee-label">
                <li>Department - <%= @user.department %></li>
                <li>Location - <%= @user.location %></li>
              </ul>
            </div>
            <div id="description" class="toggle-div display-block">
            <p><%= @user.description %></p>
          </div>
          <div id="description-form" class="toggle-div">
            <%= simple_form_for(current_user, url: myprofile_path(@user), html: { method: :patch }) do |f| %>
           <%= f.input :description, as: :text, label: false, placeholder: 'Tell us what others need to know' %>
           <%= f.button :submit, class: "button", value: "Update"%>
           <% end %>
         </div>
        </div>
      </div>

  <!-- key experiences -->

        <div class="myprofile-skill-card" id="key">
          <div class="d-flex justify-content-between">
            <h3>KEY EXPERIENCES</h3>
            <%= link_to edit_user_skills_path do %>
              <i class="fas fa-pen-nib"></i>
              <% end %>
          </div>
          <div class="skills-grid-1">

            <% @existing_skills.each do |eskill| %>
            <% if eskill.skill.skill_type == "experience" %>
                <label for="<%= "skill-item-#{eskill.id}" %>" class="skill-grid-item checkbox key" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
             url('<%= cl_image_path eskill.skill.photo, height: 120, width: 120, crop: :fill %>')">

                  <div class="section">
                    <p class="show-profile"><%= eskill.skill.name %></p>
                    <div class="overlay">
                    </div>
                  </div>
                </label>
                <% end %>
            <% end %>
          </div>
        </div>
  </div>
  <div class="right">

        <!-- right side  -->

      <!-- Hard Skills -->
        <div class="myprofile-skill-card" id="hard">
          <div class="d-flex justify-content-between">
            <h3>EXISTING SKILLS</h3>
            <%= link_to edit_user_skills_path do %>
              <i class="fas fa-pen-nib"></i>
              <% end %>
          </div>
          <div class="skills-grid-1">
            <% @existing_skills.each do |uskill| %>
            <% unless uskill.skill.skill_type == "experience" %>
                <label for="<%= "skill-item-#{uskill.id}" %>" class="skill-grid-item checkbox hard" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
             url('<%= cl_image_path uskill.skill.photo, height: 120, width: 120, crop: :fill %>')">
                  <div class="section">
                    <p class="show-profile"><%= uskill.skill.name %></p>

                      <!-- Popover -->
                        <a class="popover-skill" data-toggle="popover" data-placement="right" title="" data-trigger="hover" data-html="true"
                        data-popover-content="#myPopoverContent<%=uskill.id%>"><i class="fas fa-info-circle"></i></a>

                        <!-- Content for Popover: -->
                        <div id="myPopoverContent<%=uskill.id%>" style="display:none">
                          <div class="skill-info">
                            <h2><%= uskill.skill.name %></h2>
                            <p><%= uskill.skill.description %></p>
                          </div>
                        </div>

                    <div class="overlay">
                    </div>
                  </div>
                </label>
                <% end %>
            <% end %>
          </div>
        </div>

        <!-- soft Skills -->
        <div class="myprofile-skill-card" id="hard">
          <div class="d-flex justify-content-between">
            <h3>SKILLS TO DEVELOP</h3>
            <%= link_to edit_develop_skills_path do  %>
              <i class="fas fa-pen-nib"></i>
              <% end %>
          </div>
          <div class="skills-grid-1">
            <% @develop_skills.each do |dskill| %>
                <label for="<%= "skill-item-#{dskill.id}" %>" class="skill-grid-item checkbox hard" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
             url('<%= cl_image_path dskill.skill.photo, height: 120, width: 120, crop: :fill %>')">
                  <div class="section">
                    <p class="show-profile"><%= dskill.skill.name %></p>

                    <!-- Popover -->
                      <a class="popover-skill" data-toggle="popover" data-placement="right" title="" data-trigger="hover" data-html="true"
                      data-popover-content="#myPopoverContent<%=dskill.id%>"><i class="fas fa-info-circle"></i></a>

                      <!-- Content for Popover: -->
                      <div id="myPopoverContent<%=dskill.id%>" style="display:none">
                        <div class="skill-info">
                          <h2><%= dskill.skill.name %></h2>
                          <p><%= dskill.skill.description %></p>
                        </div>
                      </div>

                    <div class="overlay">
                    </div>
                  </div>
                </label>
            <% end %>
          </div>
        </div>
  </div>
</div>


</div>
