<div class="container">
  <div class="myprofile-name">
    <%= @user.photo %>
    <h1><%= @user.first_name %></h1>
  </div>
  <div class="myprofile-info">
    <h3><%= @user.job_title %> </h3>
    <h5><%= @user.department %> </h5>
    <h5><%= @user.location %> </h5>
    <p>Add your description here!</p>
  </div>
</div>
