 <!-- top skills categories bar -->

<div class="container">
  <div class="skill-cat-container">
    <div id="skill-cat-header">
      <h2>Skill Categories</h2>
    </div>
    <button class="cat-btn cat-btn-active" data-value="all">All</button>
    <button class="cat-btn" data-value="hard">HARD SKILLS</button>
    <button class="cat-btn" data-value="soft">SOFT SKILLSKILLS</button>
    <button class="cat-btn" data-value="key">KEY EXPERIENCE</button>
  </div>

  <!-- Main body -->

  <div class="lower-search-container">

    <!-- left side -->

    <div class="skill-container">

      <!-- main form start-->

      <%= form_tag("/profiles", method: "get") do  %>

      <!-- hard skills -->

      <div class="skill-card" id="hard">
        <h3>HARD SKILLS</h3>
        <div class="skills-grid">
          <% @hard_skills.each do |skill| %>
              <label for="<%= "skill-item-#{skill.id}" %>" class="skill-grid-item checkbox" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= cl_image_path skill.photo, height: 120, width: 120, crop: :fill %>')">
                <%= check_box_tag "skill_ids[]", skill.id, nil, id: "skill-item-#{skill.id}", class: 'hidden'%>
                <div class="section">
                  <p class="show-profile"><%= skill.name %></p>
                  <div class="overlay">
                  </div>
                </div>
              </label>
          <% end %>
        </div>
      </div>


      <!-- soft skills -->

      <div class="skill-card" id="soft">
        <h3>SOFT SKILLS</h3>
        <div class="skills-grid">

          <% @soft_skills.each do |skill| %>
              <label for="<%= "skill-item-#{skill.id}" %>" class="skill-grid-item checkbox js-item-skill" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= cl_image_path skill.photo, height: 120, width: 120, crop: :fill %>')">
                <%= check_box_tag "skill_ids[]", skill.id, nil, id: "skill-item-#{skill.id}", class: 'hidden'%>
                <div class="section">
                  <p class="show-profile"><%= skill.name %></p>
                  <div class="overlay">
                  </div>
                </div>
              </label>
          <% end %>
        </div>
      </div>



      <!-- key experiences -->

      <div class="skill-card" id="key">
        <h3>KEY EXPERIENCE</h3>
        <div class="skills-grid">

          <% @key_experience.each do |skill| %>
              <label for="<%= "skill-item-#{skill.id}" %>" class="skill-grid-item checkbox js-item-skill" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= cl_image_path skill.photo, height: 120, width: 120, crop: :fill %>')">
                <%= check_box_tag "skill_ids[]", skill.id, nil, id: "skill-item-#{skill.id}", class: 'hidden'%>
                <div class="section">
                  <p class="show-profile"><%= skill.name %></p>
                  <div class="overlay">
                  </div>
                </div>
              </label>
          <% end %>
        </div>
      </div>

    <%= submit_tag("Search") %>

    <!-- main form end -->

    <% end %>

    <!-- right side -->

    <div class="job-select-container">
      <div class="vacancies-container">
        <h4>VACANCIES</h4>
      </div>
      <div class="selection-container">
        <h4>SELECTION</h4>
      </div>
    </div>
  </div>
</div>
