<div class="container">
<!-- title box -->
  <div class="myprofile-container">
    <%= link_to :back, class: 'link_absolute' do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <div class="d-flex align-items-center">
      <div class="myprofile-image">
        <%= cl_image_tag @user.photo %>
      </div>
      <div class="myprofile-name">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      </div>
    </div>
    <%= link_to "SEND MESSAGE", conversations_path, class: "button btn-message" %>
  </div>

<div class="d-flex">
  <div class="left">

  <!-- left side -->

      <!-- description box -->

        <div class="myprofile-info-container">
          <div class="myprofile-info-card">
            <div class="d-flex justify-content-between">
              <h2><%= @user.job_title %></h2>
            </div>
            <div class="info-employee">
              <ul class="info-employee-label">
                <li>Department - <%= @user.department %></li>
                <li>Location - <%= @user.location %></li>
              </ul>
            </div>
            <div>
            <p><%= @user.description %></p>
          </div>
        </div>
      </div>

  <!-- key experiences -->

        <div class="myprofile-skill-card" id="key">
          <div class="d-flex justify-content-between">
            <h3>Key Experiences</h3>

          </div>
          <div class="skills-grid-1">

            <% @existing_skills.each do |eskill| %>
            <% if eskill.skill.skill_type == "experience" %>
                <label for="<%= "skill-item-#{eskill.id}" %>" class="skill-grid-item checkbox key" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
             url('<%= cl_image_path eskill.skill.photo, height: 120, width: 120 %>')">

                  <div class="section">
                    <p class="show-profile"><%= eskill.skill.name %></p>
                    <div class="overlay">
                    </div>
                  </div>
                </label>
                <% end %>
            <% end %>
          </div>
        </div>
  </div>
  <div class="right">

        <!-- right side  -->

      <!-- Hard Skills -->
        <div class="myprofile-skill-card" id="hard">
          <div class="d-flex justify-content-between">
            <h3>Existing skills</h3>

          </div>
          <div class="skills-grid-1">
            <% @existing_skills.each do |uskill| %>
            <% unless uskill.skill.skill_type == "experience" %>
                <label for="<%= "skill-item-#{uskill.id}" %>" class="skill-grid-item checkbox hard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
             url('<%= cl_image_path uskill.skill.photo, height: 120, width: 120, crop: :fill %>')">
                  <div class="section">
                    <p class="show-profile"><%= uskill.skill.name %></p>
                    <div class="overlay">
                    </div>
                  </div>
                </label>
                <% end %>
            <% end %>
          </div>
        </div>

        <!-- soft Skills -->
        <div class="myprofile-skill-card" id="hard">
          <div class="d-flex justify-content-between">
            <h3>Wish to develop</h3>
          </div>
          <div class="skills-grid-1">
            <% @develop_skills.each do |dskill| %>
                <label for="<%= "skill-item-#{dskill.id}" %>" class="skill-grid-item checkbox hard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
             url('<%= cl_image_path dskill.skill.photo, height: 120, width: 120, crop: :fill %>')">
                  <div class="section">
                    <p class="show-profile"><%= dskill.skill.name %></p>
                    <div class="overlay">
                    </div>
                  </div>
                </label>
            <% end %>
          </div>
        </div>
  </div>
</div>


</div>
