<div class="container">

  <div class="search-result-h1">
    <h1>LOOKING FOR A NEW POSITION</h1>
  </div>

  <h3 class="search-result-title-h3">Your Selection</h3>
  <div class="selected-skills-result">
    <% @skills_to_match.each do |selected_skill| %>
      <p class="skill-selection"><%= Skill.find(selected_skill).name %></p>
    <% end %>
    <%= link_to "+", vacancy_search_path(skills_ids: @skills_to_match), class: "edit-plus" %>
  </div>

  <h2 class="search-result-title-h2">Matching positions</h2>


  <% @matches.reverse.first(7).each do |vacancy| %>
  <%= link_to vacancy_path(vacancy.id) do %>
  <div class="container-custom">
    <div class="row">
      <div class="col-12 col-sm-4">
        <div class="employee-detail-all">
          <div class="employee-detail">
            <%= cl_image_tag vacancy.photo, class: "avatar-big" , height: 300, width: 300, crop: :fill %>
            <div class="employee-contact">
              <h2><%= vacancy.title.capitalize %></h2>
              <h3><%= vacancy.department %></h3>
              <p><%= vacancy.location %></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-4">
        <div class="employee-have-skills-all">
          <div class="employee-have-skills">
            <h3>Required skills</h3>
              <% if vacancy.vacancy_skills.select {|vacancy_skill| @skills_to_match.include?(vacancy_skill.skill_id) }.empty? %>
                <p id="others">Other skills than selected...</p>
              <% else %>
            <div class="employee-skills">
              <% vacancy.vacancy_skills.select {|vacancy_skill| @skills_to_match.include?(vacancy_skill.skill_id) }.each do |vacancy_skill| %>
              <p class="skill-selection"><%= vacancy_skill.skill.name %></p>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="employee-wish-skills-all">
          <div class="employee-wish-skills">
            <h3>Preferred skills</h3>
            <% if vacancy.preferred_skills.select {|preferred_skill| @skills_to_match.include?(preferred_skill.skill_id) }.empty? %>
              <p id="others">Other skills than selected...</p>
            <% else %>
              <div class="employee-skills">
                <% vacancy.preferred_skills.select {|preferred_skill| @skills_to_match.include?(preferred_skill.skill_id) }.each do |preferred_skill| %>
                  <p class="skill-selection"><%= preferred_skill.skill.name %></p>
                <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
  <% end %>
  <% end %>
</div>
