<div class="button btn-message" id="sendBtn<%= user.id %>" data-id="<%= user.id %>">Send message</div>
<!-- Message modal -->
<div id="sendMessageModal<%= user.id %>" class="modal">
  <!-- Modal content -->
  <div class="modal-content<%= user.id %> modal-content">
    <p><em><%= "Send #{user.first_name} a message..." %></em></p>
    <%= simple_form_for :conversation, url: conversations_path(user_id: user.id), remote: true, method: :post, html: { class: "new_message"} do |form| %>
      <%= form.input :content, label: false, input_html: { id: "message-field-#{user.id}" } %>
      <% form.hidden_field :user_id, value: user %>
      <div class="d-flex">
        <%= form.button :submit, value: 'send', class: "modal-submit-#{user.id} modal-submit" %>
      <% end %>
      <div class="modal-cancel-<%= user.id %> modal-cancel">cancel</div>
      </div>
  </div>
