
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
<div class="container">
  <div class="company-detail">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.jpg", class: "company-logo"%>
    <% end %>
    <% if current_page?(conversations_path) %>
      <%= link_to root_path do %>
        <span>RECRUIT.me</span><span id="diff-logo">ssenger</span>
      <% end %>
    <% else %>
      <%= link_to "RECRUIT.me", root_path %>
    <% end %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
           <%= link_to "JOBS", vacancy_search_path, class: "nav-link #{'active' if params[:controller] == "vacancies"}" %>
        </li>
        <li class="nav-item">
          <%= link_to "CANDIDATES", profile_search_path, class: "nav-link  #{'active' if params[:controller] == "profiles"}" if current_user.is_manager? %>
        </li>
        <li>

        <!-- logic to find new mail -->
        <% mail_classes = 'fa fa-envelope' %>

        <% if !current_page?(conversations_path) %>
          <% my_conversations = Conversation.where(recipient: current_user).or(Conversation.where(sender: current_user)) %>
          <% if my_conversations.length > 0 %>
            <% my_conversations.each do |conversation| %>
            <% r_Messages = conversation.messages.where.not(user: current_user) %>
              <% if r_Messages.count > 0 %>
                <% r_Messages.each do |message| %>
                  <% if message.read == false %>
                    <% mail_classes = 'fa fa-envelope mail-active' %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

          <%= link_to conversations_path do %>
            <i class="<%= mail_classes %>" aria-hidden="true"></i>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <% if current_user.photo.present? %>
            <img class="avatar avatar-navbar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= cl_image_path current_user.photo %>" />
          <% else %>
            <img class="avatar avatar-navbar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= image_path 'avatar-blank.jpg' %>" />
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My profile", myprofile_path, class: "dropdown-item" %>
            <%= link_to "Inbox", conversations_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
</div>
